$gray-lighter:rgba(0,0,0, .1);
$gray-light:#dddddd;
$gray:#C1C1C1;
$gray-medium:#cccccc;
$gray-mediumer:#ADADAD;
$gray-dark:#bbbbbb;
$gray-darker:#555555;
$gray-darkest:#888888;
$gray-mediumy:#999999;
$white:#ffffff;
$yellow:#C0B000;
$yellow-light:#E2C340;
$black:#000000;
$red:#8B153E;
$red-dark:#721438;
$blue-light:#23C1F0;
$blue-lighter:rgba(35, 193, 240, .65);

$radius:5px;//.5em;

$font-small:0.75em;
$font-normal:0.88em;
$font-title:1.7em;
$font-label:1.3em;
$font-button:0.8em;
$font-button-footer:0.7em;

$height-footer:55px;

$opacity:0.88;

// image paths
$img-arrow-grey:url("img/arrow-gray.svg");
$img-checkmark:url('img/checkmark.svg');
$img-deal:url("img/deal.svg");
$img-deal-active:url("img/deal-active.svg");
$img-dealnew:url("img/newdeal.svg");
$img-dealnew-active:url("img/newdeal-active.svg");
$img-profile:url("img/profile.svg");
$img-arrow-back:url("img/arrow_back.svg");
$img-arrow-back-yellow:url("img/arrow_back_yellow.svg");
$img-profile-new:url("img/profile-active.svg");
$img-about:url("img/about.svg");
$img-about-active:url("img/about-active.svg");