
<script type="text/x-handlebars" data-template-name="dashboard/deal/checklist">
  {{ outlet myAlerts }}{{ outlet }}
</script>

<script type="text/x-handlebars" data-template-name="dashboard/deal/checklist/buyerClosing">
  {{ partial "checklistForm"}}
</script>
<script type="text/x-handlebars" data-template-name="dashboard/deal/checklist/hud">
  {{ partial "checklistForm"}}
</script>
<script type="text/x-handlebars" data-template-name="dashboard/deal/checklist/package">
  {{ partial "checklistForm"}}
</script>
<script type="text/x-handlebars" data-template-name="dashboard/deal/checklist/sellerClosing">
  {{ partial "checklistForm"}}
</script>
<script type="text/x-handlebars" data-template-name="dashboard/deal/checklist/survey">
  {{ partial "checklistForm"}}
</script>
<script type="text/x-handlebars" data-template-name="dashboard/deal/checklist/title">
  {{ partial "checklistForm"}}
</script>
<script type="text/x-handlebars" data-template-name="dashboard/deal/checklist/titleDocs">
  {{ partial "checklistForm"}}
</script>


<script type="text/x-handlebars" data-template-name="dashboard/deal/checklist/index">
    {{ outlet myAlerts }}
    <section> 
    <form {{action "submit" on="submit" target="controller"}}>
    <fieldset> 
    <div class="selector-group">
    <span class="input-parent"><p class="label">Details</p>{{view valueBinding="details"}}</span> 
    </div> 
    <div class="selector-group">
    <span class="input-parent"><p class="label">First Name</p>{{view App.MyTextField valueBinding="fname" placeholder="first name"}}</span> 
    <span class="input-parent"><p class="label">Last Name</p>{{view App.MyTextField valueBinding="lname" placeholder="last name"}}</span> 
    <span class="input-parent"><p class="label">Email</p>{{view App.MyTextField valueBinding="email" placeholder="email" type="email"}}</span> 
    </div> 
    <div class="button-holder"><button type="submit">{{txtSubmit}}</button></div> 
    <div class="button-holder"><button class="non-active" {{action "skip"}}>skip</button></div> 
    </fieldset> 
    </form> 
    </section>
</script>

<script type="text/x-handlebars" data-template-name="dashboard/deal/checklist/inspection">
  {{ outlet myAlerts }}
    <section>
    <form {{action "submit" on="submit" target="controller"}} >
    <fieldset>
    <div class="selector-group">
    <span class="input-parent"><p class="label">Details</p><p>{{details}}</p></span>
    </div>
    {{#if isAgent}}
     {{#if noInspector}}
       <div class="selector-group">
       <span class="input-parent"><p class="label">First Name</p>{{view App.MyTextField valueBinding="fname" placeholder="first name"}}</span>
       <span class="input-parent"><p class="label">Last Name</p>{{view App.MyTextField valueBinding="lname" placeholder="last name"}}</span>
       <span class="input-parent"><p class="label">Email</p>{{view App.MyTextField valueBinding="email" placeholder="email" type="email"}}</span>
       </div>
     {{/if}}
     <div class="selector-group">
     <div class="button-holder"><button {{action "submit"}}>{{txtSubmit}}</button></div>
     <div class="button-holder"><button class="non-active" {{action "skip"}}>skip</button></div>
    {{/if}}
    </fieldset>
    </form>
    </section>
</script>


<script type="text/x-handlebars" data-template-name="dashboard/deal/checklist/appraisal">
  {{ outlet myAlerts }}
  <section> 
      <form {{action "submit" on="submit" target="controller"}} > 
          <fieldset> 
            <div class="selector-group"> 
                <span class="input-parent"><p class="label">Details</p><p>{{details}}</p></span> 
            </div> 
            {{#if isOfficer}}
            {{#if isPending}}
            {{#if noAppraiser}}
            <div class="selector-group"> 
                <span class="input-parent"><p class="label">First Name</p>{{view App.MyTextField valueBinding="fname" placeholder="first name"}}</span> 
                <span class="input-parent"><p class="label">Last Name</p>{{view App.MyTextField valueBinding="lname" placeholder="last name"}}</span> 
                <span class="input-parent"><p class="label">Email</p>{{view App.MyTextField valueBinding="email" placeholder="email" type="email"}}</span> 
            </div> 
            {{/if}}
            <div class="selector-group"> 
                <span class="input-parent"><p class="label">Expected completion date</p>{{view App.MyTextField valueBinding="dateExpectedComplete" placeholder="dd-mm-yyyy" type="date"}}</span>
                <div class="button-holder"><button {{action "submit"}}>{{txtSubmit}}</button></div> 
                {{#if hasStarted}}
                <div class="button-holder"><button class="blue" {{action "complete"}}>{{txtComplete}}</button></div> 
                {{/if}}
                {{/if}}
                {{/if}}
            </fieldset> 
        </form> 
    </section>
</script>


<script type="text/x-handlebars" data-template-name="dashboard/deal/checklist/insurance">
{{ outlet myAlerts }}
<section> 
    <form {{action "submit" on="submit" target="controller"}} > 
        <fieldset> 
            <div class="selector-group"> 
                <span class="input-parent"><p class="label">Details</p><p>{{details}}</p></span> 
            </div> 
            {{#if isOfficer}}
            <div class="selector-group"> 
                <span class="input-parent"><p class="label">First Name</p>{{view App.MyTextField valueBinding="fname" placeholder="first name"}}</span> 
                <span class="input-parent"><p class="label">Last Name</p>{{view App.MyTextField valueBinding="lname" placeholder="last name"}}</span> 
                <span class="input-parent"><p class="label">Street</p>{{view App.MyTextField valueBinding="address" placeholder="address"}}</span>
                <span class="input-parent"><p class="label">City</p>{{view App.MyTextField valueBinding="city" placeholder="city"}}</span>
                <span class="input-parent"><p class="label">State</p>{{view App.MyTextField valueBinding="state" placeholder="state"}}</span>
                <span class="input-parent"><p class="label">Zip</p>{{view App.MyTextField valueBinding="zip" maxlength="5" placeholder="zip" type="number"}}</span>
            </div> 

            <label class="title">Insurance Contact</label>
            <div class="selector-group"> 
                <span class="input-parent"><p class="label">First Name</p>{{view App.MyTextField valueBinding="insFname" placeholder="first name"}}</span> 
                <span class="input-parent"><p class="label">Last Name</p>{{view App.MyTextField valueBinding="insLname" placeholder="last name"}}</span> 
                <span class="input-parent"><p class="label">Email</p>{{view App.MyTextField valueBinding="insEmail" placeholder="email"}}</span>
            </div> 

            <div class="selector-group"> 
                <div class="button-holder"><button {{action "submit"}}>{{txtSubmit}}</button></div> 
                <div class="button-holder"><button class="non-active" {{action "skip"}}>skip</button></div> 
                {{/if}}
            </fieldset> 
        </form> 
    </section>
</script>


<script type="text/x-handlebars" data-template-name="dashboard/deal/checklist/loan">

{{ outlet myAlerts }}
<section> 
    <form {{action "submit" on="submit" target="controller"}} > 
        <fieldset> 
            <div class="selector-group"> 
                <span class="input-parent"><p class="label">Details</p><p>{{details}}</p></span> 
            </div> 
            {{#if isOfficer}}
            <div class="selector-group"> 
                <span class="input-parent checkbox"> 
                    <p class="label">Loan has been submitted</p>{{view Ember.Checkbox checkedBinding="chkLoanSubmitted" id="chkLoanSubmitted-switch"}}<label for="chkLoanSubmitted-switch"><span id="slider"></span></label></span>
                </span>    <span class="input-parent"><p class="label">Expected to be underwritten</p>{{view App.MyTextField valueBinding="dateExpectedComplete" placeholder="dd-mm-yyyy" type="date"}}</span>

            </div> 
            <div class="selector-group"> 
                <div class="button-holder"><button {{action "submit"}}>{{txtSubmit}}</button></div> 
                <div class="button-holder"><button class="non-active" {{action "skip"}}>skip</button></div> 
                {{/if}}
            </fieldset> 
        </form> 
    </section>

</script>


<script type="text/x-handlebars" data-template-name="dashboard/deal/checklist/conditional">
  {{ outlet myAlerts }}
  <section> 
    <form {{action "submit" on="submit" target="controller"}} > 
        <fieldset> 
            <div class="selector-group"> 
                <span class="input-parent"><p class="label">Details</p><p>{{details}}</p></span> 
            </div> 
            {{#if isOfficer}}
            <div class="selector-group"> 
                <span class="input-parent checkbox"> 
                    <p class="label">Conditions submitted</p>{{view Ember.Checkbox checkedBinding="chkConditionsSubmitted" id="chkConditionsSubmitted-switch"}}<label for="chkConditionsSubmitted-switch"><span id="slider"></span></label></span>
                </span>    <span class="input-parent"><p class="label">Expected approval date</p>{{view App.MyTextField valueBinding="dateExpectedComplete" placeholder="dd-mm-yyyy" type="date"}}</span>

            </div> 
            <div class="selector-group"> 
                <div class="button-holder"><button {{action "submit"}}>{{txtSubmit}}</button></div> 
                {{/if}}
            </fieldset> 
        </form> 
    </section>
</script>


<script type="text/x-handlebars" data-template-name="dashboard/deal/checklist/final">
  {{ outlet myAlerts }}
  <section>
    <form {{action "submit" on="submit" target="controller"}} >
       <fieldset>
           <div class="selector-group">
               <span class="input-parent"><p class="label">Details</p><p>{{details}}</p></span>
           </div>
           {{#if isOfficer}}
           <div class="selector-group">
               <span class="input-parent checkbox">
                   <p class="label">Final approval submitted</p>{{view Ember.Checkbox checkedBinding="chkFinalApprovalSubmitted" id="chkFinalApprovalSubmitted-switch"}}<label for="chkFinalApprovalSubmitted-switch"><span id="slider"></span></label></span>
               </span>    <span class="input-parent"><p class="label">Expected final approval date</p>{{view App.MyTextField valueBinding="dateExpectedComplete" placeholder="dd-mm-yyyy" type="date"}}</span>

           </div>
           <div class="selector-group">
               <div class="button-holder"><button {{action "submit"}}>{{txtSubmit}}</button></div>
               {{/if}}
           </fieldset>
       </form>
   </section>
</script>




